.nav{
    display: flex;
    justify-content: space-between;
    padding:0 20px 0 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    
}
.logo{
    width:280px;
    height: 90px;
}
.header-icons{
    display: flex;
    margin-right: 5px;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
   
}
.icons{
    width: 40px;
    height: 40px;
    margin: 20px;
    cursor: pointer;
}

.icons:hover{
    width: 45px;
    height: 45px;
    transition:0.1s ease-in  ;
    
    
}
.profile-name{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 350px;
    z-index: 1000;
    margin-top: 5px;
    margin-left: -10%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .profile-dropdown{
    width:200px;
  }
  .cart-dropdown{
    margin-left: -12%;

  }
  .dropdown p {
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
  }

  .dropdown p:hover {
    background-color: #f0f0f0;
  }
  .buynow{
    padding: 10px 30px;
    background-color:#a31d1d ;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    border:0
  }
  /* .dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    top: 50px;
    right: 10px;
    z-index: 1000;
  }
   */
  .wishlist-item {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }
  .cart-item {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 20px;
  }
  .cart-image{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 20%;
    

  }
  .checkout-btn{
    padding: 20px 30px;
    background-color: rgb(21, 139, 37);
    color: #fff;
    font-weight: bold;
    font-size: large;
    border-radius: 20px;
    border:0
  }
  .cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wishlist-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .wishlist-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .total-amount{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
  }
  
  .wishlist-details p {
    margin: 0;
  }
  .close-btn{
    width: 35px;
    height: 35px;
  }
  
.search-field{
    padding: 10px;
    border:white;
    border-bottom: 5px solid #a31d1d;
    border-radius: 20px;
    
}
::placeholder{
    text-align: center;
}