@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Jost", sans-serif;

}


label {
    
    float:left;
    margin-right:15px;
  font-size: 25px;
  
}
input{
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid rgba(163, 29, 29, 1) ;
    border-radius: 10px;
    
}


.login {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full viewport height */
    
  }
  ::placeholder{
    font-family:"Jost", sans-serif; ;
    font-weight: bolder;
  }
  input:focus{
    font-family:"Jost", sans-serif; ;
    font-weight: bold;
    border: none;

  }
  h1{
    color: #a31d1d;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
  }
.form-group{
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.btns1{
    
    justify-content: space-between;
    margin-top: 20px;
}
.btn-login{
    font-size: 18px;
    border: 2px solid brown ;
}

.btn-login:hover{
    font-size: 20px;
    border: 2px solid rgb(236, 232, 232) ;
    background-color: brown;
    color: aliceblue;
    

}

.container {
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  
  .login-register-wrapper {
    width: 400px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .container.flipped .login-register-wrapper {
    transform: rotateY(180deg);
  }
  
  .form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 20px;
  }
  
  .form-container.login {
    z-index: 2;
    transform: rotateY(0deg);
  }
  
  .form-container.register {
    transform: rotateY(180deg);
  }
